.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
}

.single_container {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  min-width: 700px;
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 1.2px solid rgb(175, 173, 173);
}

.left {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
}

.left img {
  width: 135px;
  height: 190px;
  cursor: pointer;
}

.right {
  text-align: left;
}

.right button,
.right h2,
.right h5,
.right p {
  padding: 0;
  margin: 0;
}
.right h2 {
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 600;
  display: inline-block;
  color: var(--black);
}
.right h2:hover {
  text-decoration: underline;
}

.right h5 {
  color: var(--black);
  font-weight: 500;
  margin: 0.4rem 0 0.3rem 0;
  font-size: 1rem;
}

.right p {
  margin: 0.4rem 0;
  font-size: 0.95rem;
  color: var(--black);
}

.right button {
  margin-top: 1rem;
  padding: 6px 16px;
  margin-bottom: 5px;
  border: 1px solid #adb5bd;
  border-radius: 10px;
}
.right button:hover {
  background-color: #6cb5fe;
}
/*


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.page_item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page_link {
  border: 1px solid grey;
  margin: 0;
  padding: 0.5rem 0.8rem;
  list-style-type: none;
  cursor: pointer;
}
.page_links {
  margin: 0;
  padding: 0.5rem 0.8rem;
  list-style-type: none;
  cursor: pointer;
}

.active {
  background-color: black;
} */
