.search_container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border);
  position: sticky;
  top: 0;
  z-index: 2;
}

.input {
  width: 400px;
  height: 40px;
  background-color: var(--light-parent);
  font-size: 1rem;
  border: 1.5px solid var(--black);
  color: var(--black);
  outline: none;
  padding-left: 10px;
}

.input::placeholder {
  color: var(--black);
}

.input_btn {
  cursor: pointer;
  margin-left: 6px;
  height: 44px;
  font-size: 1.6rem;
  width: 150px;
  color: var(--white);
  transition: all 0.3s ease;
  border: 2px solid var(--color);
  background: var(--color);
}

.input_btn:hover {
  color: #000;
  background-color: var(--border);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 1rem 0 1.5rem 0;
}

.page_item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page_link {
  border: none;
  margin: 0.5rem 0.7rem;
  font-size: 1.05rem;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  cursor: pointer;
}
.page_links {
  margin: 0;
  padding: 0.5rem 0.8rem;
  list-style-type: none;
  cursor: pointer;
}

.page_link:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}
