.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 1rem 0 1.5rem 0;
}

.page_item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page_link {
  border: none;
  margin: 0.5rem 0.7rem;
  font-size: 1.05rem;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  cursor: pointer;
}
.page_links {
  margin: 0;
  padding: 0.5rem 0.8rem;
  list-style-type: none;
  cursor: pointer;
}

.page_link:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}
