.container {
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 2.6rem;
  flex-wrap: wrap;
}

.book {
  align-items: stretch;
  cursor: pointer;
}

.bookImg {
  width: 140px;
  height: 210px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.notAvailable {
  position: relative;
}

.notAvailable::after {
  content: "No image available";
  position: absolute;
  z-index: 1;
  width: 120px;
  height: 140px;
  text-align: center;
  padding: 70px 10px 0 10px;
  top: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  left: 0;
  background: var(--bg) no-repeat center;
}
