nav {
  position: sticky;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 100%;
}

.link {
  display: block;
  color: var(--bg);
  flex-wrap: wrap;
  text-decoration: none;
  margin: 10px 0;
  font-size: 1.06rem;
  letter-spacing: 0.7px;
  transition: all 0.2s ease-in-out;
  padding: 10px 0 10px 3rem;
}

.link_btn {
  display: flex;
}

.link_btn_icon {
  margin-left: 4px;
  font-size: 18px;
}

.active {
  background-color: var(--border);
  color: #000;
}

.link:hover {
  background-color: #86d300;
  color: #000;
}
