.main {
  width: 100%;
  margin: 0 auto;
  display: grid;
  height: 100vh;
  grid-template-columns: 0.45fr 1.55fr;
  font-family: arial;
}

.sidebar {
  background-color: var(--color);
  color: var(--bg);
}

.container {
  background-color: var(--bg);
}
