:root {
  --parent-bg: #86d300;
  --color: #1c422b;
  --bg: #f3fec9;
  --border: #dbc1e1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--parent-bg);
  color: var(--color);
  box-sizing: border-box;
}
