@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  /* --background: #000;
  --sidebar-bg: #09090b;
  --sidebar-link: #e4e4e7;
  --sidebar-link-hover: #f4f4f5;
  --sidebar-link-bg-hover: #27272a; */

  /** BUTTON COLORS **/
  --button-type1-bg: #fff;
  --button-type1-text: #fff;
  --button-type2-bg: #fff;
  --button-type2-text: #fff;
  --parent-bg: #f1f3f8;
  --color: #1c422b;
  --light-color: #e4e4e4;
  --border: #bcc3e5;
  --black: #000;
  --light-border: #d4dafa;
  --white: #fff;
  --heading: rgb(58, 58, 58);
  --button-light-orange: #f06e43;
  --button-dark-orange: #ef5927;
  --button-light-green: #86d300;
  --dark-black: #1d1f20;
  --light-black: #6d6c6c;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
